<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />{% load static %}
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <link
        rel="shortcut icon"
        type="image/x-icon"
        href="{% static 'assets/img/favicon.png' %}"
    />
    <title>{% block title %}Create New Password {% endblock %} </title>
    <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'assets/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'assets/css/feather.css' %}" />
    <link
        rel="stylesheet"
        href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" />
</head>
<body>
<div class="main-wrapper login-body">
    <div class="container-fluid px-0">
        <div class="row">
            <div class="col-lg-6 login-wrap">
                <div class="login-sec">
                    <div class="log-img">
                        <img
                            class="img-fluid"
                            src="{% static 'assets/img/login-02.png' %}"
                            alt="Logo"
                        />
                    </div>
                </div>
            </div>
            <div class="col-lg-6 login-wrap-bg">
                <div class="login-wrapper">
                    <div class="loginbox">
                        <div class="login-right">
                            <div class="login-right-wrap">
                                <div class="account-logo">
                                    <a href="index.html">
                                        <img
                                            src="{% static 'assets/img/login-logo.png' %}"
                                            width="40%"
                                            height="8%"
                                            alt
                                        />
                                    </a>
                                </div> 
                                <h2>Create a New Password</h2> 
                                {% if validlink %}
                                    {% for message in messages %}
                                        <p>{{ message }}</p>
                                    {% endfor %} 
                                    <form method="post">
                                        {% csrf_token %}
                                        <div class="input-block">
                                            <label>Password <span class="login-danger">*</span></label>
                                            <input
                                                class="form-control pass-input"
                                                type="password"
                                                name="new_password1"
                                                required
                                            />
                                            <span
                                                class="profile-views feather-eye-off toggle-password"
                                            ></span>
                                        </div>
                                        <div class="input-block">
                                            <label
                                            >Confirm Password
                                            <span class="login-danger">*</span></label>
                                            <input
                                                class="form-control pass-input-confirm"
                                                type="password"
                                                name="new_password2"
                                                required
                                            />
                                            <span
                                                class="profile-views feather-eye-off confirm-password"
                                            ></span>
                                        </div>
                                        <div class="input-block login-btn">
                                            <button class="btn btn-primary btn-block" type="submit">
                                                Reset Password
                                            </button>
                                        </div>
                                    </form>
                                {% else %}
                                    <p>Link is no longer valid, please try to reset password again.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
{% include 'footer.html' %}
</body>
</html>
