{% extends "base.html" %}
{% load crispy_forms_tags %} 
{% load static %}
{% block content %}
<div class="page-wrapper">
  <div class="content">
  <div class="card shadow-sm">
    <div class="card-header">
      <h4>{% if subcategory %}Edit Subcategory{% else %}Add Subcategory{% endif %}</h4>
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {% crispy form %}
        <div class="text-end">
          <a href="{% url 'expenses:subcategory-list' %}" class="btn btn-light">Cancel</a>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
