{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="page-wrapper">
  <div class="content">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'appointment_list' %}">Appointment </a>
            </li>
            <li class="breadcrumb-item">
              <i class="feather-chevron-right"></i>
            </li>
            <li class="breadcrumb-item active">Appointment List</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table show-entire">
          <div class="card-body">
            <div class="page-table-header mb-2">
              <div class="row align-items-center">
                <div class="col">
                  <div class="doctor-table-blk">
                    <h3>Appointment</h3>
                    <div class="doctor-search-blk">
                      <div class="top-nav-search table-search-blk">
                        <form method="GET">
                          <input type="text" class="form-control" name="search" placeholder="Search here" value="{{ search_query }}">
                          <button type="submit" class="btn"><img src="{% static 'assets/img/icons/search-normal.svg' %}" alt /></button>
                        </form>
                      </div>
                      <div class="add-group">
                        <a href="{% url 'appointment_form' %}" class="btn btn-primary add-pluss ms-2"><img src="{% static 'assets/img/icons/plus.svg' %}" alt /></a>
                        <a href="{% url 'appointment_list' %}" class="btn btn-primary doctor-refresh ms-2"><img src="{% static 'assets/img/icons/re-fresh.svg' %}" alt /></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-auto text-end float-end ms-auto download-grp">
                  <a href="javascript:;" class="me-2"><img src="{% static 'assets/img/icons/pdf-icon-01.svg' %}" alt /></a>
                  <a href="javascript:;" class="me-2"><img src="{% static 'assets/img/icons/pdf-icon-02.svg' %}" alt /></a>
                  <a href="javascript:;" class="me-2"><img src="{% static 'assets/img/icons/pdf-icon-03.svg' %}" alt /></a>
                  <a href="javascript:;"><img src="{% static 'assets/img/icons/pdf-icon-04.svg' %}" alt /></a>
                </div>
              </div>
            </div>

            <div class="table-responsive">
              <table class="table border-0 custom-table comman-table datatable mb-0">
                <thead>
                  <tr>
                    <th>
                      <div class="form-check check-tables">
                        <input class="form-check-input" type="checkbox" value="something" />
                      </div>
                    </th>
                    <th>Name</th>
                    <th>Consulting Doctor</th>
                    <th>Treatment</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for appointment in page_obj %}
                  <tr>
                    <td>
                      <div class="form-check check-tables">
                        <input class="form-check-input" type="checkbox" value="something" />
                      </div>
                    </td>
                    <td>
                      <h2 class="table-avatar">
                        <a href="{% url 'appointment_detail' appointment.id %}" class="user-img">
                          <img src="{% static 'assets/img/profiles/avatar-07.jpg' %}" alt="user" />
                        </a>
                        <a href="{% url 'appointment_detail' appointment.id %}">{{ appointment.patient.first_name }} {{ appointment.patient.last_name }}</a>
                      </h2>
                    </td>
                    <td>{{ appointment.assigned_doctor.user_ptr.first_name }} {{ appointment.assigned_doctor.user_ptr.last_name }}</td>
                    <td>{{ appointment.treatment }}</td>
                    <td>{{ appointment.patient.phone }}</td>
                    <td>{{ appointment.patient.user_ptr.email }}</td>
                    <td>{{ appointment.date }}</td>
                    <td>{{ appointment.from_time }} - {{ appointment.to_time }}</td>
                    <td class="text-end">
                      <a href="{% url 'edit_appointment' appointment.id %}" class="btn btn-primary btn-sm me-2"><img src="{% static 'assets/img/icons/edit.svg' %}" alt /></a>
                      <a href="{% url 'delete_appointment' appointment.id %}" class="btn btn-danger btn-sm"><img src="{% static 'assets/img/icons/delete.svg' %}" alt /></a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="p-3">
              <div class="row">
                <div class="col">
                  <nav>
                    <ul class="pagination justify-content-center">
                      {% if page_obj.has_previous %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      {% endif %}
                      {% for i in page_obj.paginator.page_range %}
                      <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                        <a class="page-link" href="?page={{ i }}{% if search_query %}&search={{ search_query }}{% endif %}">{{ i }}</a>
                      </li>
                      {% endfor %}
                      {% if page_obj.has_next %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                      {% endif %}
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
            <!-- Add/Edit/Delete logic -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
