<!-- templates/header.html -->
{% load static %}
<div class="header">
  <div class="header-left">
    <a href="index.html" class="logo">
      <img
        src="{% static 'assets/img/logo.png' %}"
        width="35"
        height="35"
        alt
      />
      <span> Hotel C.R.M</span>
    </a>
  </div>
  <a id="toggle_btn" href="javascript:void(0);"
    ><img src="{% static 'assets/img/icons/bar-icon.svg' %}" alt
  /></a>
  <a id="mobile_btn" class="mobile_btn float-start" href="#sidebar"
    ><img src="{% static 'assets/img/icons/bar-icon.svg' %}" alt
  /></a>
  <div class="top-nav-search mob-view">
    <form>
      <input type="text" class="form-control" placeholder="Search here" />
      <a class="btn"
        ><img src="{% static 'assets/img/icons/search-normal.svg' %}" alt
      /></a>
    </form>
  </div>
  <ul class="nav user-menu float-end">
    <li class="nav-item">
      <a href="#" class="hasnotifications nav-link"
        ><img src="{% static 'assets/img/icons/setting-icon-01.svg' %}" alt />
      </a>
    </li>
  </ul>
  <div class="dropdown mobile-user-menu float-end">
    <a
      href=""
      class="dropdown-toggle"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      ><i class="fa-solid fa-ellipsis-vertical"></i
    ></a>
    <div class="dropdown-menu dropdown-menu-end">
      <a class="dropdown-item" href="profile.html">My Profile</a>
      <a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
      <a class="dropdown-item" href="settings.html">Settings</a>
      <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
    </div>
  </div>
</div> 
