{% extends 'base.html' %}
{% block content %}
<div class="page-wrapper">
  <div class="content">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'patient_list' %}">Patients</a>
            </li>
            <li class="breadcrumb-item">
              <i class="feather-chevron-right"></i>
            </li>
            <li class="breadcrumb-item active">Add Patient</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="row">
                <div class="col-12">
                  <div class="form-heading">
                    <h4>Patient Details</h4>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="input-block local-forms">
                    <label>First Name <span class="login-danger">*</span></label>
                    <input class="form-control" type="text" name="first_name" placeholder="First Name" required />
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="input-block local-forms">
                    <label>Last Name <span class="login-danger">*</span></label>
                    <input class="form-control" type="text" name="last_name" placeholder="Last Name" required />
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="input-block local-forms">
                    <label>Username <span class="login-danger">*</span></label>
                    <input class="form-control" type="text" name="username" placeholder="Username" required />
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="input-block local-forms">
                    <label>Email <span class="login-danger">*</span></label>
                    <input class="form-control" type="email" name="email" placeholder="Email" required />
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="input-block local-forms">
                    <label>Mobile <span class="login-danger">*</span></label>
                    <input class="form-control" type="text" name="mobile" placeholder="Mobile" required />
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="input-block local-forms cal-icon">
                    <label>Date of Birth <span class="login-danger">*</span></label>
                    <input class="form-control datetimepicker" type="text" name="date_of_birth" placeholder="Date of Birth" required />
                  </div>
                </div><div class="col-12 col-md-6 col-xl-6">
                  <div class="input-block local-forms">
                    <label>Password <span class="login-danger">*</span></label>
                    <input class="form-control" type="password" name="password" placeholder="Password" required />
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-6">
                  <div class="input-block local-forms">
                    <label>Confirm Password <span class="login-danger">*</span></label>
                    <input class="form-control" type="password" name="confirm_password" placeholder="Confirm Password" required />
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-8">
                  <div class="input-block local-forms">
                    <label>Address <span class="login-danger">*</span></label>
                    <textarea class="form-control" rows="3" name="address" placeholder="Address" required></textarea>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="input-block local-forms">
                    <label>City <span class="login-danger">*</span></label>
                    <input class="form-control" type="text" name="city" placeholder="City" required />
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="input-block local-forms">
                    <label>Country <span class="login-danger">*</span></label>
                    <input class="form-control" type="text" name="country" placeholder="Country" required />
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="input-block local-forms">
                    <label>State/Province <span class="login-danger">*</span></label>
                    <input class="form-control" type="text" name="state_province" placeholder="State/Province" required />
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="input-block select-gender">
                    <label class="gen-label">Gender <span class="login-danger">*</span></label>
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="radio" name="gender" class="form-check-input mt-0" value="male" /> Male
                      </label>
                    </div>
                    <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="radio" name="gender" class="form-check-input mt-0" value="female" /> Female
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="input-block local-forms">
                    <label>Status <span class="login-danger">*</span></label>
                    <select class="form-control" name="status" required>
                      <option value="">Select Status</option>
                      <option value="active">Active</option>
                      <option value="inactive">Inactive</option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="input-block local-forms">
                    <label>Diagnosis</label>
                    <textarea class="form-control" rows="3" name="diagnosis" placeholder="Diagnosis"></textarea>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="input-block local-forms">
                    <label>Symptoms</label>
                    <textarea class="form-control" rows="3" name="symptoms" placeholder="Symptoms"></textarea>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="input-block local-forms">
                    <label>Assigned Doctors</label>
                    <select class="form-control" name="assigned_doctors">
                      {% for doctor in Staffs%}
                        <option value="{{ doctor.pk }}">{{ doctor }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="input-block local-forms">
                    <label>Assigned Nurses</label>
                    <select class="form-control" name="assigned_nurses">
                      {% for nurse in nurses %}
                        <option value="{{ nurse.pk }}">{{ nurse }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                  <div class="input-block local-forms">
                    <label>Assigned Caregivers</label>
                    <select class="form-control" name="assigned_caregivers">
                      {% for caregiver in caregivers %}
                        <option value="{{ caregiver.pk }}">{{ caregiver }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-12">
                  <div class="doctor-submit text-end">
                    <button type="submit" class="btn btn-primary submit-form me-2">Submit</button>
                    <button type="reset" class="btn btn-primary cancel-form">Cancel</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
   {% endblock %}
</div>
</div> 
